<a href="https://colab.research.google.com/github/qingemeng/cs598dlh-final/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Load data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
from tensorflow import keras
import numpy as np
import tensorflow as tf

In [ ]:

import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/DLH deep learning in healthcare/dlh-data.csv')

In [ ]:
df

,sex,age,faNoily_status,religion,occupation,genetic,status,loss_of_parent,divorse,Injury,Spiritual_consult,Insominia,shizopherania,vascula_demetia,MBD,Bipolar,agecode
0,M,18,Yes,C,STUDENT,Yes,S,Yes,No,No,Yes,N,P,P,P,N,1
1,F,30,Yes,M,ARTISAN,Yes,S,Yes,No,Yes,Yes,P,P,P,N,N,1
2,M,22,Yes,C,STUDENT,No,S,No,No,No,Yes,P,P,P,N,P,1
3,M,35,No,M,ARTISAN,No,M,No,No,No,Yes,P,P,N,N,P,2
4,M,30,Yes,M,ARTISAN,Yes,M,No,No,No,Yes,P,P,P,P,P,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,F,73,Yes,M,RETIRED,Yes,S,Yes,No,No,Yes,P,N,P,N,P,3
496,F,50,No,M,ARTISAN,No,M,Yes,No,No,No,P,P,N,P,P,2
497,F,32,No,C,FORCE,No,M,No,No,No,Yes,N,P,P,P,N,2
498,M,13,Yes,C,STUDENT,No,S,Yes,No,No,No,N,P,N,N,N,1
499,F,19,Yes,M,STUDENT,No,S,Yes,No,No,Yes,N,P,P,N,N,1

In [ ]:
data = np.array(df)
X = data[:, 0:11] 
Y = data[:, 11:-1] 
Y[str(Y)=='P'] = 1
Y[str(Y)=='N'] = 0

Y = Y.astype('float32')

ValueError: ignored

In [ ]:
X

array([['M', 18, 'Yes', ..., 'No', 'No', 'Yes'],
       ['F', 30, 'Yes', ..., 'No', 'Yes', 'Yes'],
       ['M', 22, 'Yes', ..., 'No', 'No', 'Yes'],
       ...,
       ['F', 32, 'No', ..., 'No', 'No', 'Yes'],
       ['M', 13, 'Yes', ..., 'No', 'No', 'No'],
       ['F', 19, 'Yes', ..., 'No', 'No', 'Yes']], dtype=object)

In [ ]:
Y

array([['N', 'P', 'P', 'P', 'N'],
       ['P', 'P', 'P', 'N', 'N'],
       ['P', 'P', 'P', 'N', 'P'],
       ...,
       ['N', 'P', 'P', 'P', 'N'],
       ['N', 'P', 'N', 'N', 'N'],
       ['N', 'P', 'P', 'N', 'N']], dtype=object)

Define the model

In [ ]:
model = Sequential()
model.add(Dense(20, input_dim=15, activation='relu'))
model.add(Dense(20, activation='relu'))
model.add(Dense(40, activation='relu'))
model.add(Dense(5, activation='sigmoid'))

Compile the model

In [ ]:
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(loss='binary_crossentropy', optimizer=opt, metrics=['accuracy'])

Fit the model

In [ ]:
es = keras.callbacks.EarlyStopping(monitor='val_loss')
model.fit(X, Y, epochs=40, validation_split=0.3, callbacks=[es])

ValueError: ignored